# to copy it to sudo cp ~/catkin_ws/src/survey_mission/listen.service /etc/systemd/system/listen.service
[Unit]
Description=Listener waypoints
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/uvify/catkin_ws/src/survey_mission/src/receiver.py
Restart=always
RestartSec=5
User=uvify
Group=uvify
WorkingDirectory=/home/uvify/catkin_ws/src/survey_mission/src
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target

